<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/welcome_app.css">
    <script src="../js/welcome_app.js"></script>
</head>
<body>
    <div class="container">
        <div class="copy_area">
            <h1> Welcome, </h1>

            <h3>Leave Request Application</h3>

            <p>
                Welcome to the leave request application.
            </p>
            <br>
            <button>Explore</button>
            <br>
        </div>
        <div class="form_area">
            <br>
            <form>
                <h3>Enter Details </h3>
                <input type="text" name="user_email" id="input_email" placeholder="example@mail.com">
                <br>
                <br>
                <input type="password" name="user_name" id="input_pass" placeholder="password">
                <br>
                <br>
                <button>Login</button>
                <br>
                <button>Register</button>
            </form>
        </div>
    </div>    
</body>
</html>

